                
<html>
        <body>

        <form action="/create_student_record" method="GET">
                <legend> Add a student </legend>
                <p>
                First name: <input type="text" name="firstname">
                </p>
                <p>
                Last name: <input type="text" name="surname">
                </p>
                <p>
                Github username: <input type="text" name="github">
                </p>
                <button>Click here to submit</button>
        </form>


</body>
</html>