<html>
        <body>

        <form action="/create_project_grade" method="GET">
                <legend> Add a project grade</legend>
                <p>
                Student's github ID: <input type="text" name="github">
                </p>
                <p>
                Project name: <input type="text" name="title">
                </p>
                <p>
                Student's grade: <input type="text" name="grade">
                </p>
                <button>Click here to submit</button>
        </form>


</body>
</html>