<html>
<title>Student menu system</title>
<body>
<h1>Student Project Grade System</h1>
<p></p>
<p></p>
<h2>Menu options:</h2>
<ul>
    <li><a href="/student_lookup">Student lookup</a></li>
    <li><a href="/student_grade_lookup">Student grade lookup</a></li>
    <li><a href="/project_grade_lookup">Project grade lookup</a></li>
    <li><a href="/new_grade">Add project grade</a></li>
    <li><a href="/new_student">Make new student</a></li>
    <li><a href="/new_project">Make new project</a></li>




</body>
</html>