<html>
        <body>

        <form action="/create_project_record" method="GET">
                <legend> Add a project </legend>
                <p>
                Project title: <input type="text" name="title">
                </p>
                <p>
                Project description: <input type="text" name="description">
                </p>
                <p>
                Max grade: <input type="text" name="max_grade">
                </p>
                <button>Click here to submit</button>
        </form>


</body>
</html>